
@{
    ViewData["Title"] = "Contact";
}


<center><div class="container" style="text-align:center">

  <div >
    <h1>Contact us</h1>
    <p>please leave us a message that will take a less than a minute:</p>
  </div>
    <div>
     <img src="\Images\company.jfif" alt="Logo" style="width:550px;height:550px">
    </div>
    <div class="column" align="center">
        <p>please contact us on <a href="#">www.Ecommerce.org</a></p>
        <p>Ph: +9100343456456567</p>
    </div>
</div></center>
