<footer class="bg-dark text-white p-3 pb-5">
    <div class="row">
      <div class="col-xl-2 col-lg-2 col-md-2 mb-30 text-white">
        <ul style="list-style: none">
          <li><b>About KYB-Bus</b></li>
          <li>About Us</li>
          <li>Contact Us</li>
          <li>Mobile Version</li>
          <li>KYB on Mobile</li>
          <li>Sitemap</li>
          <li>Offers</li>
          <li>Careers</li>
          <li>Values</li>
        </ul>
      </div>
  
      <div class="col-xl-2 col-lg-2 col-md-2 mb-30 text-white">
        <ul style="list-style: none">
          <li><b>Info</b></li>
          <li>T & C</li>
          <li>Privacy Policy</li>
          <li>FAQ</li>
          <li>Blog</li>
          <li>Bus Operator Registration</li>
          <li>Agent Registration</li>
          <li>Insurance Partner</li>
          <li>User Agreement</li>
        </ul>
      </div>
  
      <div class="col-xl-2 col-md-2 mb-20 text-white">
        <ul style="list-style: none">
          <li><b>Global Sites</b></li>
          <li>Singapore</li>
          <li>Malaysia</li>
          <li>Indonesia</li>
          <li>Peru</li>
          <li>Colombia</li>
        </ul>
      </div>
  
      <div class="col-xl-2 col-md-2 mb-20 text-white">
        <ul style="list-style: none">
          <li><b>Our Partners</b></li>
          <li>Goibibo</li>
          <li>Makemytrip</li>
          <li><b>Other Services</b></li>
          <li>Train Tickets</li>
          <li>Bus Hire</li>
          <li>Cab Booking</li>
          <li>Tempo Traveller</li>
        </ul>
      </div>
  
      <div class="col-xl-4 col-md-4 mb-20 text-white">
        <!-- <pre class="text-white"> -->
        KYB is the world's largest online bus ticket booking service trusted by
        over 25 million happy customers globally. KYB offers bus ticket booking
        through its website,iOS and Android mobile apps for all major routes.<br /><br />
        <!-- </pre> -->
        <div class="footer-social-icon">
          <span>Follow us</span>&nbsp;&nbsp;
          <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a
          >&nbsp;&nbsp;
          <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>&nbsp;&nbsp;
          <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
        </div>
        <br />
        <div class="copyright-text">
          <p>Copyright &copy; 2018, All Right Reserved <a href="#">KYB</a></p>
        </div>
      </div>
    </div>
  </footer>