<nav class="navbar navbar-expand-sm bg-danger navbar-dark fixed-top">
    <div class="container">
       <a class="navbar-brand" href="#"><b>KYB</b></a>
      <!-- Toggler/collapsibe Button -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#menu-nav"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="menu-nav">
  
        <!-- Right-aligned nav -->
        <div class="collapse navbar-collapse justify-content-end" id="menu-nav">
          <ul class="navbar-nav">
             <li class="nav-item">
              <a class="nav-link text-white" routerLink="/about">About</a>
            </li> 
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/privacy">Privacy</a>
              </li> 
              <li class="nav-item">
                <a class="nav-link text-white" routerLink="/contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" routerLink="/booking">Manage Booking</a>
              </li>
              <li class="nav-item dropdown" *ngFor="let data of logindata">
                <a
                  class="nav-link dropdown-toggle text-white"
                  href="#"
                  data-toggle="dropdown"
                >
                <b>Hello {{ data.name }}</b>
                </a>
                <div class="dropdown-menu">
                 
                  <button type="button" class="dropdown-item">LogOut</button>
                </div>
              </li>
            <!-- <span>{{ data.Name }}</span> -->
            <!-- <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle text-white"
                href="#"
                data-toggle="dropdown"
              >
                <i class="fas fa-user-circle"></i>
              </a>
              <div class="dropdown-menu">
                <button type="button" class="dropdown-item">LogOut</button>
                <!-- <a class="dropdown-item" routerLink="/">SignIn</a> 
              </div>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </nav>
<div style="text-align: center; background:wheat;">
    <h1 class="well">Submit Feedback</h1>
    <div class="container">
    <div class="col-md-5">
    <div class="form-area"><form #contactform="ngForm" role="form" (ngSubmit)="submitForm();contactform.reset()" ><br style="clear: both;">
    <h3 style="margin-bottom: 25px; text-align: center;">Contact Form</h3>
    <div class="form-group"><input id="name" class="form-control" name="name" required="" type="text" placeholder="Name" [(ngModel)]="name"></div>
    <div class="form-group"><input id="email" class="form-control" name="email" required="" type="email" placeholder="Email" [(ngModel)]="email"></div>
    <div class="form-group"><input id="mobile" class="form-control" name="mobile" required="" type="phone" placeholder="Mobile Number" [(ngModel)]="phone"></div>
    <div class="form-group"><textarea id="message" class="form-control" maxlength="140" name="message" rows="7" placeholder="Message" [(ngModel)]="message"></textarea></div>
    <button id="submit" class="btn btn-primary pull-right" name="submit" type="submit">Submit Form</button></form></div>
    </div>
    </div>
    </div> 
<br/>
<!-- Footer -->
<app-footer></app-footer>

      