<header>
    <h1 style="color:red ;padding-left:100px;">Privacy Policy</h1>
    </header>
    <nav class="navbar navbar-expand-sm bg-danger navbar-dark fixed-top">
        <div class="container">
           <a class="navbar-brand" href="#"><b>KYB</b></a>
          <!-- Toggler/collapsibe Button -->
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#menu-nav"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <!-- Navbar links -->
          <div class="collapse navbar-collapse" id="menu-nav">
      
            <!-- Right-aligned nav -->
            <div class="collapse navbar-collapse justify-content-end" id="menu-nav">
              <ul class="navbar-nav">
                 <li class="nav-item">
                  <a class="nav-link text-white" routerLink="/about">About</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/privacy">Privacy</a>
                  </li> 
                  <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/contact">Contact</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/booking">Manage Booking</a>
                  </li>
                  <li class="nav-item dropdown" *ngFor="let data of logindata">
                    <a
                      class="nav-link dropdown-toggle text-white"
                      href="#"
                      data-toggle="dropdown"
                    >
                    <b>Hello {{ data.name }}</b>
                    </a>
                    <div class="dropdown-menu">
                     
                      <button type="button" class="dropdown-item">LogOut</button>
                    </div>
                  </li>
                <!-- <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle text-white"
                    href="#"
                    data-toggle="dropdown"
                  >
                    Manage Booking
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Cancel Ticket</a>
                    <a class="dropdown-item" href="#">View</a>
                  </div>
                </li> -->
                <!-- <span>{{ data.Name }}</span> -->
                <!-- <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle text-white"
                    href="#"
                    data-toggle="dropdown"
                  >
                    <i class="fas fa-user-circle"></i>
                  </a>
                  <div class="dropdown-menu">
                    <button type="button" class="dropdown-item">LogOut</button>
                    <!-- <a class="dropdown-item" routerLink="/">SignIn</a> 
                  </div>
                </li> -->
              </ul>
            </div>
          </div>
        </div>
      </nav>
   <nav>
    <h1 id="contents" style="color:black;padding-left:120px;font-size: medium;">A. INTRODUCTION:</h1>
     <p style="padding-left:150px;text-align: justify;">
        Ibibo Group Private Limited (hereinafter “KYB-Bus”) 
        recognizes the importance of privacy of its users and
         also of maintaining confidentiality of the information 
         provided by its users as a responsible data controller 
         and data processor.This Privacy Policy provides for the
         practices for handling and securing user's Personal
         Information (defined hereunder) by redBus and its subsidiaries
         and affiliates.This Privacy Policy is applicable to any person
         User.who purchases, intends to purchase, or inquire about any 
         product(s) or service(s) made available by redBus through any
         of KYB-Bus’s customer interface channels including its website,
          mobile site, mobile app & offline channels including call 
          centers and offices (collectively referred herein as 
          "Sales Channels").For the purpose of this Privacy Policy, 
          wherever the context so requires "you" or "your" shall mean
           User and the term "we", "us", "our" shall mean KYB-Bus.
            For the purpose of this Privacy Policy, Website means 
            the website(s), mobile site(s) and mobile app(s).
        </p>
       
        <h1 id="contents" style="color:black;padding-left:120px;font-size: medium;">B. USERS OUTSIDE THE GEOGRAPHICAL LIMITS OF INDIA:</h1>
     <p style="padding-left:150px;text-align: justify;">Please note that the data shared with KYB-Bus shall be primarily processed in India and such other jurisdictions where a third party engaged by KYB-Bus may process the data on KYB-Bus’s behalf.
         By agreeing to this policy, you are providing KYB-Bus with your explicit consent to process your personal information for the purpose(s) defined in this policy. The data protection regulations in India or such other jurisdictions mentioned above may differ from those of your country of residence.</p>       
     <p  id="contents" style="color:black;padding-left:150px;">A withdrawal of consent by you for us to process your information may:</p>   
    <ol type="1" style="padding-left:230px;">
     <li>severely inhibit our ability to 
        serve you properly and in such case,
         we may have to refuse the booking altogether</li>
      <li>unreasonably restrict us to service your booking 
        (if a booking is already made) which may further affect your
         trip or may compel us to cancel your booking.</li>
      </ol>
      <h1 id="contents" style="color:black;padding-left:120px;font-size: medium;">C. TYPE OF INFORMATION WE COLLECT AND ITS LEGAL BASIS:</h1>
      <p  style="color:black;padding-left:150px;">The information as detailed below is collected for us to be able to provide the services chosen by you and also to fulfill our legal obligations as well as our obligations towards third parties as per our User Agreement.</p>
     <ol type="1" style="padding-left:230px;">
        <li>Registration on the Website:<p> Information which you provide while subscribing to or registering on the Website, including but not limited to information about your personal identity such as name, gender, age etc., your contact details such as your email address, postal addresses, telephone (mobile or otherwise) and/or fax numbers. The information may also include information such as your banking details (including credit/debit card) and any other information relating to your income and/or lifestyle; billing information payment history etc. (as shared by you).</p></li>
     </ol>

</nav>
<!-- Footer -->
<app-footer></app-footer>
 
